*{
    padding: 0%;
    margin: 0%;
    box-shadow: none;
}
.uploadDescription-header{
    position: absolute;
    top: 10rem;
    left: 30rem;
    font-size: 1.2rem;
    display: flex;
}
.uploadDescription-header:nth-child(1){
    position: absolute;
    top: 21rem;
    left: 30rem;
    font-size: 1.2rem;
    display: flex;
}
.uploadDesc{
    width: 60%;
    height: 20vh;
    padding: 10px 10px;
    position: absolute;
    top: 24rem;
    left: 27rem;
    font-size: 1.4rem;
    resize: none;
}
.uploadcomp{
    width: 60%;
    height: 8vh;
    padding: 10px 10px;
    position: absolute;
    top: 14rem;
    left: 27rem;
    font-size: 1.4rem;
    resize: none;
}
.submitbtn1{
    width: 130px;
    height: 45px;
    background-color: #e3e3e3;
    border: #e3e3e3 1px solid;
    color: black;
    border-radius: 20px;
    position: absolute;
    top: 37rem;
    left: 90rem;
}